// sink by AomAm from the Noun Project
// Weight by viraj from the Noun Project

@import "_deps"
// @import "_code"

yellow = #ffc600
orange = #FF9D00
purple = #2E0067
blue = #193549

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Mixin
random(min,max)
  return floor(math(0, 'random')*(max - min + 1) + min)


body::after
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content: url(./images/1.jpg) url(./images/2.jpg) url(./images/3.jpg) url(./images/4.jpg) url(./images/5.jpg) url(./images/6.jpg) url(./images/7.jpg) url(./images/8.jpg) url(./images/9.jpg) url(./images/10.jpg) url(./images/11.jpg) url(./images/12.jpg) url(./images/13.jpg) url(./images/14.jpg) url(./images/15.jpg) url(./images/16.jpg) url(./images/17.jpg) url(./images/18.jpg) url(./images/19.jpg) url(./images/20.jpg) url(./images/21.jpg) url(./images/22.jpg) url(./images/23.jpg) url(./images/24.jpg) url(./images/25.jpg) url(./images/26.jpg) url(./images/27.jpg) url(./images/28.jpg) url(./images/29.jpg) url(./images/30.jpg) url(./images/31.jpg)
.slides > article
  padding 50px
  padding 20px
  &.plain
    &:before, &:after
      display none



randomColor()
  return rgb(random(0,255),random(0,255),random(0,255))

combos = (#825854 #3de7e4) (#29519e #94eced) (#e26ab5 #1e4823) (#11feec #FF00E0) (#006C8D #006C8D) (#3a5c8e #eb821b) (#ca5723 #7d5794) (#6aa4e1 #ae5ceb) (#226443 #5e9ccd) (#6d6528 #3768f7) (#2decf5 #52aeea) (#d07dd7 #e1e34a) (#3456fd #14e839) (#f8078c #17156b)

randomGradient()
  n = random(1,13)
  combo = combos[n]
  return combo


for num in 1...40
  path = "images/"+ random(1,31)+".jpg"
  combo = randomGradient();
  .slides > article:nth-child(39n+{num})
    &:before
      background-image url(path)
      content combo[1]
    &:after
      rando = randomColor()
      background-image linear-gradient(random(0,360)deg, blue 0%, darken(blue,40%) 100%);

      // background-image linear-gradient(random(0,360)deg, rando 0%, lighten(rando,10%) 100%);

// .slides > article:nth-child(1n):after
//     background-image: linear-gradient(-173deg, #007EFF 0%, #6DD7BA 51%);

h1,h2,h3,h4,h5,h6
  color white
  font-weight 900
  text-transform: uppercase
  line-height: auto
  text-shadow 5px 5px 0 alpha(black, 0.2)

p, a, li
  text-shadow 4px 3px 0 rgba(0,0,0,0.3)
  margin 15px 0

p, li, small
  color white
  font-weight 700
  text-transform: uppercase
  font-size 80px
  letter-spacing: 1px
  line-height: 1.5

.sub
  transform skew(0, -4deg)
  margin-top 10px
  font-weight 200
  color white !important
  font-size 60px

h2 + .sub
  transform none

small
  font-size 25px

h1
  transform skew(0, -4deg) rotateY(20deg)
  font-size 200px
  color yellow
  letter-spacing -2px
  a
    text-decoration none
    font-size 20px
    color black
    padding-left 10px

ul {
  text-align: left;
  margin-left: 100px;
}

h2
  font-size 100px
  // color yellow
  line-height 1.5
  margin 0
  font-weight 600
  color rgba(255,255,255,0.95)
  &.title
    font-size 70px
  a
    color yellow
  &.skew
    transform skew(0, -4deg)
    display: inline-block

h2 + img
  margin-top 20px !important


.large
  font-size 200px

.big
  font-size 250px

.medium
  font-size 150px

.huge
  font-size 450px

h3
  font-size 70px
  color yellow
  line-height 1.5

h4
  color yellow
  font-size 50px

.halves
  width 100%

.half
  width 50%


img.wide
  width 100%
  height auto
  max-height none

img.high
  width auto
  height 100%
  max-height 1200px

video.high
  width: auto;
  height: 100%;
  min-width: 0;

.hl
  color yellow


mark
  background yellow
  color black
  color var(--black)
  text-shadow none
  padding 0 10px;
  color: black;

article.treats
  h1
    margin-bottom 90px
    font-size 250px
    // color orange


.emoji
  font-size 116px
  font-family serif


// Smaller Screens
body.square
  .slides
    & > article
      w = 1920
      h = 1080
      width w px
      height h px
      margin-left (w/2) * -1px
      margin-top (h/2) * -1px
      border-radius 0
      h2
        font-size 110px
      p, li, small
        font-size 30px
      .big
        font-size 180px
      .large
        font-size 140px
      .huge
        font-size 220px

.itm {
              background: var(--yellow);
              color: black;
              padding: 15px;
            }

.alignment {
                height: 700px;
              width: 700px;
              border:10px solid red;
}
